<h1> <%= @article.title %> </h1>
<p> <%= @article.body %></p>

<ul>
    <li><%= link_to "Editar", edit_article_path(@article) %></li>
    <li><%= link_to "Excluir", 
            article_path(@article), 
            data: {
                turbo_method: :delete, 
                turbo_confirm: "Mesmo mesmo?"
            }
        %>
    </li>

  <br/>
  <li><%= link_to "Voltar", root_path %></li>
</ul>

